
/* ==========================================================================
   IMPORT GOOGLE FONTS
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");
/* ==========================================================================
   GENERAL
   ========================================================================== */
body {
  font-family: 'Rubik', sans-serif;
  color: #a0a6ad;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden; }

html {
  overflow-x: hidden; }

p {
  font-size: 14px;
  color: #5e629d;
  line-height: 26px;
  margin-bottom: 0; }

a:hover, a:focus {
  color: #000; }

a {
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #151948; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

a:hover,
a:focus {
  text-decoration: none;
  outline: none; }

a:not([href]):not([tabindex]) {
  color: #fff; }

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #fff; }

.bg-transparent {
  background: transparent !important; }

.bg-defult {
  background: #3c9cfd !important; }

/* ==========================================================================
   Section Title
   ========================================================================== */
.section {
  padding: 130px 0px; }

.form-control:focus {
  outline: none;
  box-shadow: none; }

.section-header {
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
  position: relative; }

.section-header .section-title {
  font-size: 35px;
  margin-bottom: 12px;
  font-weight: 600;
  position: relative;
  line-height: 30px; }

.section-header .desc-text p {
  font-size: 18px;
  color: #5e629c;
  line-height: 26px;
  margin-bottom: 0; }

/* ==========================================================================
   Buttons
   ========================================================================== */
.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  color: #002F75;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block; }

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none; }

.btn-common {
  color: white;
  background-color: #0097B2;
  position: relative;
  z-index: 1;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
  width: 160px;
  height: 50px;
  padding: 14px 15px; }

.btn-common:hover {
  color: #fff;
  transform: translateY(-2px); }

.btn-light-bg {
  background-color: #ff704f; }

.btn-border {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  background-color: transparent;
  border-color: #0097B2;
  color: #0097B2;
  width: 160px;
  height: 50px;
  padding: 14px 15px; }

.btn-border:hover {
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
  transform: translateY(-2px); }

.btn-border-filled {
  cursor: pointer;
  background-color: #0097B2;
  border: 1px solid #0097B2;
  color: #fff;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
  width: 180px;
  height: 50px;
  padding: 15px 15px; }

.btn-border-filled:hover {
  color: #0097B2;
  background-color: transparent;
  border-color: #0097B2;
  transform: translateY(-2px); }

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px; }

.btn-rm {
  color: #3c9cfd;
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 16px; }

.btn-rm i {
  vertical-align: middle; }

.btn-singin {
  background: #002F75;
  border: 1px solid #002F75;
  color: #fff;
  padding: 10px 23px;
  margin-left: 30px;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17); }

.btn-singin:hover{
  color: #0097B2;
  background-color: transparent;
  border-color: #0097B2;
  transform: translateY(-2px); }
.btn-singin:active,
.btn-singin:focus {
  color: #fff;
  box-shadow: 0px 0px 0px 0px rgba(96, 94, 94, 0.17); }

.btn-light-singin:hover,
.btn-light-singin:active,
.btn-light-singin:focus {
  color: #fff;
  box-shadow: 0px 0px 0px 0px rgba(96, 94, 94, 0.17); }

.btn-apple {
  border-width: 2px;
  border-color: #3c96ff;
  border-style: solid;
  background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

.btn-apple i {
  background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.btn-apple:hover,
.btn-apple:active,
.btn-apple:focus {
  background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important; }

button:focus {
  outline: none !important; }

.btn-border-fill {
  background: #fff;
  border-color: #fff;
  color: #3c9cfd; }

.btn-subtitle {
  color: #191c1e;
  font-family: 'Poppins', sans-serif;
  background: #dbecff;
  text-align: center;
  border-radius: 30px;
  padding: 6px 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px; }

.clear {
  clear: both; }

.mt {
  margin-top: 80px; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.pt-30 {
  padding-top: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.pt-70 {
  padding-top: 70px; }

.mb-50 {
  margin-bottom: 50px; }

.padding-0 {
  padding: 0; }

.pr-20 {
  padding-right: 20px; }

.pl-20 {
  padding-left: 20px; }

.pl-70 {
  padding-left: 70px; }

.pr-70 {
  padding-right: 70px; }

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999; }

.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto; }

#loader-1:before, #loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
  border-top-color: #3c9cfd; }

#loader-1:before {
  z-index: 100;
  animation: spin 2s infinite; }

#loader-1:after {
  border: 7px solid #fafafa; }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* ========================================================================== 
   Scroll To Up 
   ========================================================================== */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  width: 45px;
  height: 45px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  background: #5533ff;
  background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
  z-index: 9999999; }

.back-to-top i {
  color: #fff;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* ==========================================================================
   Navbar Style
   ========================================================================== */
.logo-menu a {
  font-size: 20px;
  color: #fff; }

.menu-bg {
  background: #B7FFF8;
  background: linear-gradient(95deg, #B7FFF8 5%, #ffffff 100%);
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  padding: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.menu-bg .menu-button {
  top: 0; }

.menu-bg .menu-button:hover {
  cursor: pointer;
  color: #3c9cfd; }

.menu-bg .logo-menu a {
  color: #3c9cfd; }

.menu-bg .navbar-nav .nav-link {
  color: #002F75 !important; }

.menu-bg .navbar-nav .nav-link:hover {
  color: #0097B2 !important; }

.menu-bg .navbar-nav .active {
  color: #0097B2 !important; }

.navbar-expand-md .navbar-nav .nav-link {
  color: #002F75;
  font-size: 16px;
  padding: 8px 0px;
  margin-left: 26px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-weight: 500; }

.navbar-expand-md .navbar-nav .nav-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #0097B2;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }

.navbar-expand-md .navbar-nav .active::before,
.navbar-expand-md .navbar-nav .nav-link:hover::before {
  width: 100%; }

.navbar-brand {
  color: #0097B2; }

.navbar-expand-md .navbar-nav .nav-link:focus,
.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:hover:before {
  color: #0097B2; }

.navbar-expand-md .navbar-nav .active > .nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.active:before,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open > .nav-link {
  color: #0097B2; }

.navbar-expand-md .navbar-toggler {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
  float: right; }

.navbar-expand-md .navbar-toggler i {
  color: #fff !important; }

.navbar-expand-md .navbar-toggler:focus {
  outline: none; }

/* ==========================================================================
   Hero Area
   ========================================================================== */
.highlight-green {
    color: #018658; /* Dark green color for "Tanaman" */
}
.highlight-blue {
    color: #5085a5; /* Blue color for "Deteksi Hama" */
}
.hero-area {
  position: relative; }
  .hero-area .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #ffffff;
    background: linear-gradient(95deg, #B7FFF8 5%, #ffffff 100%);
    z-index: -12; }
    
  .hero-area .contents {
    padding: 220px 0; }
    .hero-area .contents h2 {
      color: #000000;
      font-size: 38px;
      font-weight: 900;
      line-height: 60px;
      margin-bottom: 20px; }
    .hero-area .contents p {
      color: #000000;
      font-size: 18px;
      line-height: 26px; }
    .hero-area .contents .btn {
      margin-top: 40px;
      margin-right: 20px;
      text-transform: uppercase;
      width: 180px;
      height: 50px;
      padding: 15px 15px; }
    .hero-area .contents .btn-border {
      border: 1px solid #fff;
      color: #3ecf8e !important;
      -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      width: 180px;
      height: 50px;
      padding: 15px 15px;
      background: #fff; }
      .hero-area .contents .btn-border:hover {
        background: #fff;
        color: #3ecf8e; }
  .hero-area .intro-img {
    padding: 180px 0 0px; }
    .hero-area .intro-img img {
      display: block;
      height: auto;
      max-width: 100%; }

/* ==========================================================================
   business-plan Section 
   ========================================================================== */
#about {
  padding-bottom: 130px; }
  #about .container-fluid {
    padding-right: 30px;
    padding-left: 30px; }
  #about .about-item-img{
    margin-top: 200px;
  }
  #about .about-item-info {
    margin-top: 250px; }
    #about .about-item-info h3 {
      color: #161945;
      font-size: 35px;
      font-weight: 600;
      margin-bottom: 25px; }
    #about .about-item-info p {
      color: #5F6298;
      font-size: 16px;
      margin-bottom: 20px; }

/* ==========================================================================
   services
   ========================================================================== */
#services {
  background: #f9f9f9; }
  #services .services-bg {
    background: #fff; }
  #services .services-border1 {
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed; }
  #services .services-border2 {
    border-bottom: 1px solid #ededed; }
  #services .services-border3 {
    border-right: 1px solid #ededed; }
  #services .services-item {
    padding: 30px;
    overflow: hidden;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease; }
    #services .services-item .services-icon {
      background: #e3fff2;
      width: 100px;
      height: 100px;
      margin: 0px auto;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 0px;
      margin-bottom: 0px;
      margin-bottom: 0px;
      text-align: center;
      display: block;
      border-radius: 50%;
      position: relative;
      margin-right: 30px;
      border: 1px solid #0097B2;
      margin-top: 12px; }
      #services .services-item .services-icon i {
        font-size: 40px;
        color: #0097B2;
        position: absolute;
        left: 0;
        right: 0;
        top: 32%; }
    #services .services-item h4 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px; }
    #services .services-item p {
      font-size: 16px;
      display: block; }
    #services .services-item:hover {
      box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
      -moz-transition: all .8s ease;
      -webkit-transition: all .8s ease;
      transition: all .8s ease; }
    #services .services-item:hover .services-icon {
      background: #0097B2;
      -moz-transition: all .8s ease;
      -webkit-transition: all .8s ease;
      transition: all .8s ease; }
    #services .services-item:hover .services-icon i {
      color: #fff;
      -moz-transition: all .8s ease;
      -webkit-transition: all .8s ease;
      transition: all .8s ease; }

/* ==========================================================================
   Testimonial section
   ========================================================================== */
#testimonial {
  margin-bottom: 270px;
  background: url(../img/bg/testimonial-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #testimonial .right-position {
    position: relative; }
  #testimonial .testimonial-area {
    position: absolute;
    width: 100%;
    z-index: 12;
    top: 260px;
    margin: 0px auto; }
  #testimonial #client-testimonial {
    background-color: #fff;
    padding: 54px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    -moz-box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24); }
    #testimonial #client-testimonial .content-inner p {
      font-size: 24px;
      color: #5e629c;
      font-style: italic;
      line-height: 35px; }
    #testimonial #client-testimonial .author-info {
      padding-top: 26px;
      padding-bottom: 20px; }
    #testimonial #client-testimonial .author-info h5 {
      color: #151948;
      font-size: 18px; }
    #testimonial #client-testimonial h5 span {
      font-size: 16px;
      color: #5e629c;
      font-style: italic; }
    #testimonial #client-testimonial .owl-controls .owl-buttons div.owl-prev {
      color: #3ecf8e;
      display: inline-block;
      zoom: 1;
      display: inline;
      margin: 5px;
      font-size: 16px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 50px;
      background: #fff;
      filter: Alpha(Opacity=50);
      position: absolute;
      left: -20px;
      top: 48%;
      opacity: 1;
      border: 1px solid #ccc;
      width: 38px;
      height: 38px;
      padding: 8px 0px; }
    #testimonial #client-testimonial .owl-controls .owl-buttons div.owl-next {
      color: #3ecf8e;
      display: inline-block;
      zoom: 1;
      display: inline;
      margin: 5px;
      font-size: 16px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 50px;
      background: #fff;
      filter: Alpha(Opacity=50);
      position: absolute;
      right: -20px;
      top: 48%;
      opacity: 1;
      border: 1px solid #ccc;
      width: 38px;
      height: 38px;
      padding: 8px 0px; }
    #testimonial #client-testimonial .owl-controls .owl-buttons div.owl-prev:hover, #testimonial #client-testimonial .owl-controls .owl-buttons div.owl-next:hover {
      color: #fff;
      background: #3ecf8e;
      border-color: #3ecf8e; }
  #testimonial .video-promo-content {
    padding-top: 0;
    padding-bottom: 300px; }
  #testimonial .video-play-button {
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px; }
  #testimonial .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite; }
  #testimonial .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    transition: all 200ms;
    opacity: 0.5; }
  #testimonial .video-play-button:hover:after {
    background-color: #28ca81; }
  #testimonial .video-play-button:hover span {
    border-left: 22px solid #fff;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-radius: 2px; }
  #testimonial .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 22px solid #3ecf8e;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-radius: 2px;
    margin-top: 8px;
    margin-left: 5px; }

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1; }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0; } }

/* ==========================================================================
   team section
   ========================================================================== */
#team .single-team {
  border: 1px solid #ddd;
  position: relative;
  -moz-transition: all .8s ease;
  -webkit-transition: all .8s ease;
  transition: all .8s ease; }
  #team .single-team img {
    width: 100%; }
  #team .single-team .team-social-icons {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: -20px; }
    #team .single-team .team-social-icons ul.social-list li {
      display: inline-block;
      width: 35px;
      height: 35px;
      border: 1px solid #ccc;
      border-radius: 50%;
      padding: 5px;
      line-height: 30px;
      margin: 4px;
      background: #fff; }
    #team .single-team .team-social-icons ul.social-list li:hover {
      background: #3ecf8e;
      -moz-transition: all .4s ease;
      -webkit-transition: all .4s ease;
      border-color: #3ecf8e;
      transition: all .4s ease; }
    #team .single-team .team-social-icons ul.social-list li:hover a {
      display: block; }
    #team .single-team .team-social-icons ul.social-list li:hover a i {
      color: #fff;
      -moz-transition: all .4s ease;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
    #team .single-team .team-social-icons ul.social-list li a i {
      color: #3ecf8e;
      font-size: 16px; }
  #team .single-team:hover {
    box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease; }
  #team .single-team .team-details {
    padding: 45px 0px 30px 0px;
    position: relative; }
    #team .single-team .team-details h5.team-title {
      font-size: 16px;
      font-weight: 600;
      display: block;
      margin-bottom: 0; }
    #team .single-team .team-details p {
      font-size: 12px;
      color: #5e629c; }

/* ==========================================================================
   Contact section
   ========================================================================== */
#contact form#contactForm .form-group {
  margin-bottom: 30px; }

#contact form#contactForm input[type=text], #contact form#contactForm input[type=email] {
  min-height: 52px;
  padding: 0px 0 0 28px;
  font-size: 16px;
  color: #5e629c; }

#contact form#contactForm textarea {
  padding: 15px 0 0 28px;
  font-size: 16px;
  color: #5e629c; }

#contact form#contactForm .form-control:focus {
  border: 1px solid #3ecf8e;
  outline: none;
  box-shadow: none;
  background: #e5fff3; }

/* ==========================================================================
   Footer section
   ========================================================================== */
#footer-Content {
  padding-top: 130px;
  background: #180e29; }
  #footer-Content .footer-logo img {
    padding-top: 70px; }
  #footer-Content .form-control:focus {
    outline: none;
    box-shadow: none;
    background: #e5fff3; }
  #footer-Content .copyright {
    margin-top: 125px;
    border-top: 1px solid #3c1f6e;
    padding-top: 30px;
    padding-bottom: 30px; }
    #footer-Content .copyright p {
      color: #3ecf8e;
      font-size: 18px; }
    #footer-Content .copyright a {
      color: #ddd; }
  #footer-Content .widget p {
    color: #e2e2e2;
    font-size: 16px;
    line-height: 32px; }
  #footer-Content .widget .subscribe-area {
    position: relative;
    height: 40px;
    margin-top: 18px; }
    #footer-Content .widget .subscribe-area input[type=email] {
      background: #24153c;
      border: 1px solid #fff;
      color: #e2e2e2;
      font-size: 14px;
      font-style: italic;
      height: 38px; }
    #footer-Content .widget .subscribe-area span i {
      position: absolute;
      right: 0;
      width: 60px;
      height: 38px;
      color: #fff;
      top: 0;
      background: #3ecf8e;
      display: block;
      padding: 9px 20px;
      font-size: 18px;
      border-radius: 0px 4px 4px 0px; }
  #footer-Content h3.block-title {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px; }
  #footer-Content ul.menu li a {
    color: #e2e2e2;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms; }
    #footer-Content ul.menu li a:hover {
      color: #3ecf8e;
      padding-left: 5px;
      -webkit-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms; }

/* ===== Footer CSS ===== */
.ud-footer {
  background: #7FD5E6;
  background: linear-gradient(95deg, #7FD5E6 2%, #0097B2 100%);
  padding-top: 100px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.ud-footer .shape {
  position: absolute;
  z-index: -1;
}

.ud-footer .shape.shape-1 {
  top: 0;
  left: 0;
}

.ud-footer .shape.shape-2 {
  top: 0;
  right: 0;
}

.ud-footer .shape.shape-3 {
  bottom: 0;
  right: 0;
}

.ud-widget {
  margin-bottom: 50px;
}

.ud-widget .ud-footer-logo {
  max-width: 160px;
  display: block;
  margin-bottom: 10px;
}

.ud-widget .ud-footer-logo img {
  width: 100%;
}

.ud-widget .ud-widget-desc {
  font-size: 15px;
  line-height: 24px;
  color: #f3f4fe;
  margin-bottom: 30px;
  max-width: 260px;
}

.ud-widget .ud-widget-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ud-widget .ud-widget-socials a {
  font-size: 16px;
  color: #dddddd;
  margin-right: 20px;
}

.ud-widget .ud-widget-socials a:hover {
  color: var(--primary-color);
}

.ud-widget .ud-widget-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 35px;
  color: var(--white);
}

.ud-widget .ud-widget-links a {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 30px;
  color: #f3f4fe;
}

.ud-widget .ud-widget-links a:hover {
  color: var(--primary-color);
  padding-left: 10px;
}

.ud-widget .ud-widget-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ud-widget .ud-widget-brands a {
  display: block;
  max-width: 120px;
  margin-bottom: 20px;
  margin-right: 20px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .ud-widget .ud-widget-brands a {
    max-width: 100px;
  }
}

.ud-footer-bottom {
  padding: 35px 0;
  border-top: 1px solid rgba(136, 144, 164, 0.43);
}

.ud-footer-bottom .ud-footer-bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .ud-footer-bottom .ud-footer-bottom-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.ud-footer-bottom .ud-footer-bottom-left a {
  font-weight: normal;
  font-size: 15px;
  color: #f3f4fe;
  margin-right: 30px;
  display: inline-block;
}

@media (max-width: 767px) {
  .ud-footer-bottom .ud-footer-bottom-left a {
    margin: 0px 8px 8px;
  }
}

.ud-footer-bottom .ud-footer-bottom-left a:hover {
  color: var(--primary-color);
}

.ud-footer-bottom .ud-footer-bottom-right {
  text-align: right;
  font-weight: normal;
  font-size: 15px;
  color: #f3f4fe;
}

.ud-footer-bottom .ud-footer-bottom-right a {
  color: var(--primary-color);
}

.ud-footer-bottom .ud-footer-bottom-right a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .ud-footer-bottom .ud-footer-bottom-right {
    text-align: center;
    margin-top: 10px;
  }
}